<div class="wrapper">
    <h1 class="title mb-3">Ingreso</h1>

    <form [formGroup]="loginForm" class="form-custom" (ngSubmit)="loginUser()">

        <div class="p-inputgroup mb-5">
            <span class="p-inputgroup-addon"><img src="assets/icons/at-outline.svg" alt=""></span>
            <input formControlName="email" type="email" pInputText placeholder="email@email.com" aria-label="Email">
        </div>

        <div class="p-inputgroup mb-3">
            <span class="p-inputgroup-addon"><img src="assets/icons/lock-closed-outline.svg" alt=""></span>
            <input formControlName="password" type="password" pInputText placeholder="******" aria-label="Password" aria-describedby="basic-addon1">
        </div>

        <button *ngIf="!loading" type="submit" pButton class="p-button w-full flex flex-wrap mt-5 justify-content-start">
            <img src="assets/icons/log-in-outline.svg" height="24px" class="ps-5 ms-4 pe-2">
            Login 
            <div [style.visibility]="!loading ? 'hidden' : 'visible'" class="pt-2 ms-2">
                <p-progressSpinner  [style]="{width: '20px', height: '20px'}" class="custom-spinner" strokeWidth="4" animationDuration=".7s"></p-progressSpinner>
            </div>
        </button>

        <button *ngIf="loading" [disabled]="true" type="submit" pButton class="p-button w-full flex flex-wrap mt-5 justify-content-start">
            <img src="assets/icons/log-in-outline.svg" height="24px" class="ps-5 ms-4 pe-2">
            Espera
            <div  class="pt-2 ms-2">
                <p-progressSpinner  [style]="{width: '20px', height: '20px'}" class="custom-spinner" strokeWidth="4" animationDuration=".7s"></p-progressSpinner>
            </div>
        </button>

    </form>
</div>