
* {
    font-family: 'Ubuntu', sans-serif !important;
}

.wrapper {
    height: 100vh;
    background: rgb(156,39,176);
    background: linear-gradient(180deg, rgba(156,39,176,1) 0%, rgba(62,16,70,1) 100%); 
    color: white;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.spinner {
    display: none;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash .5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #bdbdbd;
    }
    40% {
        stroke: #fff;
    }
    66% {
        stroke: #bdbdbd;
    }
    80%,
    90% {
        stroke: #FFff;
    }
}


.title {
    margin-top: 15vh;
}

.form-custom {
    background: #fff;
    max-width: 360px;
    width: 100%;
    padding: 58px 44px;
    border: 1px solid #e1e2f0;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
    transition: all 0.3s ease;
}




@media(max-width: 458px) {
    body {
        margin: 0 18px;
    }
    span img {
        width: 70%;
        height: 70%;
    }
    span{
        width: 5% !important;
    }
    form {
        background: #f9faff;
        border: none;
        box-shadow: none;
        padding: 20px 0;
    }
}