
* {
    font-family: 'Ubuntu', sans-serif !important;
}

.wrapper {
    height: 100vh;
    background: rgb(156,39,176);
    background: linear-gradient(180deg, rgba(156,39,176,1) 0%, rgba(62,16,70,1) 100%); 
    color: white;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 15vh;
}

.form-custom {
    background: #fff;
    max-width: 360px;
    width: 100%;
    padding: 58px 44px;
    border: 1px solid #e1e2f0;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
    transition: all 0.3s ease;
}




@media(max-width: 458px) {
    body {
        margin: 0 18px;
    }
    form {
        background: #f9faff;
        border: none;
        box-shadow: none;
        padding: 20px 0;
    }
}