h3,
h5,
input,
label,
p-dropdown,
select,
option,
span,
button {
    font-family: 'Ubuntu', sans-serif !important;
}

.container-custom {
    height: 15rem;
}

@media (max-width: 1400px) {
    .container-custom {
        height: 2rem;
    }
}