@import url('../../../../node_modules/primeflex/primeflex.min.css');
* {
    font-family: 'Ubuntu', sans-serif !important;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 0px;
    position: relative;
}

.background {
    grid-area: 1 / 1 / 6 / 6;
    background: rgb(156, 39, 176);
    background: linear-gradient(180deg, rgba(156, 39, 176, 1) 0%, rgba(62, 16, 70, 1) 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}

.sidebar {
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--surface-card);
    padding: 0px;
    position: relative;
    z-index: 10;
    height: 100%;
    width: 20%;
}

.content {
    grid-area: 1 / 2 / 6 / 6;
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 11;
    padding: 0.5rem;
}

.row h3 {
    font-size: 32px;
}

li {
    list-style: none;
}

.ul-col-custom {
    min-width: 100% !important;
    margin-top: 1.5rem;
}

.ul-col-custom a,
.ul-col-custom img,
.ul-col-custom span,
.ul-col-custom .grid {
    color: #1e1e1e;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    z-index: 12;
}

.ul-col-custom img {
    margin-left: 0, 5rem;
    min-height: 40% !important;
}

.divider-container {
    min-height: 7rem !important;
    width: 100%;
}

.container-custom p {
    margin-top: 1.5rem;
    font-size: 4px;
}

@media (min-height: 750px) {
    .divider-container {
        min-height: 15rem !important;
        width: 100%;
    }
    .container-custom p {
        margin-top: 2.5rem;
        font-size: 9px;
    }
}

@media (min-height: 890px) {
    .divider-container {
        min-height: 20rem !important;
        width: 100%;
    }
}

@media ( min-height: 920px) {
    .divider-container {
        min-height: 22rem !important;
        width: 100%;
    }
    .ul-col-custom a,
    .ul-col-custom img,
    .ul-col-custom span,
    .ul-col-custom .grid {
        font-size: 18px;
        font-weight: 400;
    }
}

@media (max-width: 1045px) {
    .ul-col-custom a,
    .ul-col-custom img,
    .ul-col-custom span,
    .ul-col-custom .grid {
        font-size: 14px;
        font-weight: 200;
    }
}

.ul-col-custom .col-10 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 0%;
    display: flex;
    align-items: center;
    z-index: 15;
}

.col-10:hover {
    background-color: #bdbdbd !important;
    color: #1e1e1e;
}

.container-custom p {
    font-size: 12px;
    color: #1e1e1e;
}

a,
a label {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .row h3 {
        font-size: 26px;
    }
}

@media (max-width: 900px) {
    .row h3 {
        font-size: 24px;
    }
}


/* @import url('../../../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../../../../node_modules/primeflex/primeflex.min.css');
:root {
    --primary-color: #1e1e1e;
    --background-color: #35454c;
    --text-color: #bdbdbb;
}


/* @import url('../../../../node_modules/font-awesome/css/font-awesome.css'); */


/* 


.ul-custom {
    background-color:  !important;
}







.container-custom {
    height: 4rem;
    width: 100%;
    background-color: #1e1e1e;
    padding-top: 2.5rem;
}





.ul-col-custom .div-custom span {
    margin-left: 1.5rem;
    min-width: 100% !important;
}

.ul-col-custom img {
    margin-left: 1rem;
    min-height: 100% !important;
}

.ul-col-custom .col-2 {
    background-color: #1e1e1e !important;
}



.row {
    background-color: #1e1e1e;
}

.row-custom {
    margin-bottom: 2rem;
}

.row-custom .col-4,
.row-custom img {
    background-color: #1e1e1e;
}

@media (max-width: 1460px) {
    .ul-col-custom img {
        
        
    }
    .ul-col-custom .col-2 {
        height: 20px;
    }
    .ul-col-custom p {
        font-weight: lighter;
        margin-left: 0.5rem !important;
    }

    .row h3 {
        background-color: #1e1e1e;
        font-size: 30px;
    }

    .divider-container {
        height: 8rem;
        width: 100%;
        background-color: #1e1e1e;
    }
    .row-custom {
        margin-bottom: 1rem !important;
    }
    .p-custom {
        font-size: 20px;
    }
    
    .container-custom {
        height: 1.8rem;
        width: 100%;
        background-color: #1e1e1e;
        padding-top: 1.5rem;
    }
}

@media (max-width: 1180px) {
    .ul-col-custom img {
        display: none;
    }
    .ul-col-custom .col-2 {
        width: 1rem;
       
    }
    .ul-col-custom p {
        font-weight: lighter;
        margin-left: 0.5rem !important;
    }

    .row h3 {
        background-color: #1e1e1e;
        font-size: 30px;
    }

    .ul-col-custom .grid {
        color: #bdbdbd;
        background-color: #1e1e1e;
        text-decoration: none;
        font-size: 20px;
    }

    .p-custom {
        font-size: 16px;
    }

    .row-custom {
        margin-bottom: 1rem !important;
    }
} */


/* /////////////////////////// */


/*
.sidebar-container-custom {
    height: 100vh;
    background-color: #424242;
}

.sidebar-custom {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    width: 320px;
    background-color: #303f9f;
    color: #bdbdbd;
}

ul {
    list-style-type: none;
}

.ul-icon {
    max-width: fit-content !important;
    padding-left: 1rem !important;
    padding-right: 0;
}

.sidebar-row {
    align-content: space-around !important;
    margin-top: 1rem;
}
.sidebar-col {
    padding: 5px;
    height: 100px;
    width: 60px;
}
.sidebar-col p {
    font-weight: 500;
    font-size: 16px;
}

.sidebar-col img {
    height: 60px;
}

.button-collapse {
    background-color: #bdbdbd;
    max-width: fit-content !important;
} */