<div class="parent">
    <div class="background">
        <div class="sidebar text-center">
            <p-card class="text-center min-h-full justify-content-center min-w-full py-0">
                <div class="row row-custom">
                    <div class="grid mb-2">
                        <div class="col-12 p-0">
                            <img src="assets/logo/TeluniveTV.svg" class="mb-4" style="height: 100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid p-0">
                        <div class="col ms-2 ul-col-custom">
                            <div class="ul ul-custom text-start">

                                <li class="mb-2">
                                    <a href="dashboard">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/person-add-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3 ms-2">Agregar Usuario</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="mb-2">
                                    <a href="/users">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/people-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3 ms-2">Ver Usuarios</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="mb-2">
                                    <a href="addchannel">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/play-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3 ms-2">Agregar Canales</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="mb-2">
                                    <a href="channels">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/play-forward-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3  ms-2">Ver Canales</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="mb-2">
                                    <a href="drm">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/settings-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3  ms-2">Modificar DRM</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <div class="divider-container min-h-full"></div>

                                <li class="mb-2">
                                    <a href="">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/log-out-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap" (click)="logOut()">
                                                    <p class="p-custom mt-3 ms-2">Cerrar Sesion</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <div class="container-custom text-center">
                                    <p>Desarrollado con ❤ por HV Devs<br><strong>Alto Valle, RN NQN</strong></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>

    </div>
    <div class="content border-round">
        <router-outlet>
        </router-outlet>
    </div>

</div>