<div class="parent">
    <div class="background">
        <div class="sidebar text-center">
            <p-card class="text-center min-h-full justify-content-center min-w-full py-0">
                <div class="row row-custom">
                    <div class="grid mb-2">
                        <div class="col-12 p-0">
                            <img src="assets/logo/TeluniveTV.svg" class="mb-0" style="height: 100px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="grid p-0">
                        <div class="col ms-2 ul-col-custom">
                            <div class="ul ul-custom text-start">

                                <li class="mb-2">
                                    <a href="dashboard">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/person-add-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3 ms-2">Agregar Usuario</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="mb-2">
                                    <a href="/users">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/people-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3 ms-2">Ver Usuarios</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="mb-2" *ngIf="visible">
                                    <a href="addchannel">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/play-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3 ms-2">Agregar Canales</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="mb-2" *ngIf="visible">
                                    <a href="channels">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/play-forward-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3  ms-2">Ver Canales</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="mb-2" *ngIf="visible">
                                    <a href="sellers">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/man-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3  ms-2">Vendedores</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="mb-2" *ngIf="visible">
                                    <a href="drm">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/settings-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3  ms-2">Modificar DRM</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="../../../assets/apk/Telunive_v1.0.apk" target="_blank" download="app-debug.apk">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/logo-google-playstore.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap">
                                                    <p class="p-custom mt-3  ms-2">Bajar APK</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </li>

                                <div *ngIf="!visible" class="divider-container min-h-50 my-5 text-center"></div>

                                <div class="divider-container min-h-50 text-center"></div>

                                <li class="">
                                    <a href="">
                                        <div class="row">
                                            <div class="grid ps-3 pe-0">
                                                <div class="col-2">
                                                    <img src="assets/icons/log-out-outline.svg" style="height: 24px;">
                                                </div>
                                                <div class="col-10 justify-content-start min-w-auto flex flex-wrap" (click)="logOut()">
                                                    <p class="p-custom mt-3 ms-2">Cerrar Sesion</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <div class="container-custom text-center">
                                    <p>Desarrollado con ❤ por HV Devs<br><strong>Alto Valle, RN NQN</strong></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>

    </div>

    <div class="content border-round card-mobile">
        <router-outlet>
        </router-outlet>
    </div>

</div>



<div class="custom-navbar">
    <div class="container">
        <div class="row p-0 m-0">
            <div class="col-10 brand text-start p-0">
                <h3 class="p-0 m-0">Telunive TV</h3>
            </div>
            <div class="col-2 p-0">
                <a (click)="openMenu()">
                    <img src="assets/icons/menu-outline.svg" style="height: 2.5rem;">
                </a>
            </div>

        </div>
    </div>
</div>

<div class="container pt-4 mt-1" *ngIf="mobileMenu">
    <div class="row pt-4">
        <div class="col-12 pt-2">
            <ul class="list-group bg-white">
                <a href="dashboard">
                    <li class="list-group-item bg-white">
                        <img src="assets/icons/person-add-outline.svg" class="bg-white pe-2" style="height: 24px;"> Agregar usuario
                    </li>
                </a>
                <a href="/users">
                    <li class="list-group-item bg-white">
                        <img src="assets/icons/people-outline.svg" class="bg-white pe-2" style="height: 24px;">Ver Usuarios
                    </li>
                </a>
                <a href="/addchannel">
                    <li class="list-group-item bg-white">
                        <img src="assets/icons/play-outline.svg" class=" bg-white pe-2" style="height: 24px;">Agregar Canales
                    </li>
                </a>
                <a href="channels">
                    <li class="list-group-item bg-white">
                        <img src="assets/icons/play-forward-outline.svg" class="bg-white pe-2" style="height: 24px;">Ver Canales
                    </li>
                </a>
                <a href="sellers">
                    <li class="list-group-item bg-white">
                        <img src="assets/icons/man-outline.svg" class="bg-white pe-2" style="height: 24px;">Vendedores
                    </li>
                </a>

                <a href="drm">
                    <li class="list-group-item bg-white">
                        <img src="assets/icons/settings-outline.svg" class="bg-white pe-2" style="height: 24px;">Modificar DRM
                    </li>

                </a>
                <a href="http://localhost:4200/assets/apk/Telunive_v1.0.apk">
                    <li class="list-group-item bg-white">
                        <img src="assets/icons/logo-google-playstore.svg" class="bg-white pe-2" style="height: 24px;"> Bajar APK
                    </li>
                </a>
                <a (click)="logOut()">
                    <li class="list-group-item mt-2 bg-white">
                        <img src="assets/icons/log-out-outline.svg" class="bg-white pe-2" style="height: 24px;">Cerrar Sesion</li>
                </a>
            </ul>
        </div>
    </div>
</div>




<div class="container pt-4">
    <div class="row pt-4">
        <router-outlet>
        </router-outlet>
    </div>
</div>