<p-card>
    <div class="grid pe-3 ps-3">
        <div class="col-8">
            <h3 class="mb-0 p-mt-0">Modificar DRM</h3>
        </div>
    </div>
    <hr class="mt-1 mb-4">


    <p-messages [value]="msgs"></p-messages>
    <p-table class="p-table" dataKey="id" responsiveLayout="scroll" [lazy]="true" [loading]="loading" [value]="array_Tabla">
        <ng-template pTemplate="header">
            <tr>
                <th class="p-0"> Categoria </th>
                <th class="p-0"> DRM </th>
                <th class="p-0"> Acciones </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-chan_nel let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="chan_nel" style="font-size: 14px;">

                <td class="p-0">{{chan_nel.category}}</td>
                <td class="p-0">{{chan_nel.drmLicense}}</td>

                <td class="p-0">
                    <div class="p-2 flex flex-wrap">
                        <div class="p-buttonset">
                            <p-button class="p-button-sm p-1 p-button-raised" (onClick)="confirm(chan_nel.drmLicense,chan_nel.category)" icon="pi pi-refresh" label="Cambiar DRM"></p-button>
                            <p-button class="p-button-sm p-button-outline p-button-danger p-1 p-button-raised " (onClick)="delete()" icon="pi pi-trash"></p-button>
                        </div>
                    </div>
                </td>


            </tr>
        </ng-template>


    </p-table>
    <p-confirmDialog [style]="{width: '65vw'}" [baseZIndex]="10000">

    </p-confirmDialog>


    <p-dialog [modal]="true" [visible]="displayModal" [style]="{width: '75vh'}">
        <ng-template pTemplate="header">
            <h3>Ingresa Nueva DRM</h3>
        </ng-template>

        <hr class="mt-1">
        <div class="grid p-fluid">
            <div class="col-12">
                <form [formGroup]="drmForm">
                    <div class="p-inputgroup">
                        <input type="text" pInputText formControlName="drm" placeholder="Ingresa Nueva DRM">
                    </div>

                </form>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button type="button" pButton class="p-button-outline p-button-danger" icon="pi pi-times" (click)="hide()" label="Cancelar"></button>
            <button pButton icon="pi pi-check" class="p-button-success" type="button" (click)="modifyDRM()" label="Aceptar"></button>
        </ng-template>

    </p-dialog>





    <!-- <p-panel>
        <ng-template class="header-custom" pTemplate="header">
            <h3>DRM Actual</h3>
        </ng-template>
        <p>Link: {{oldLink}}</p>
    </p-panel>
    <br>
    <br> -->
    <!-- <p-panel>
        <ng-template class="header-custom" pTemplate="header">
            <h3>Ingrese nuevo DRM</h3>
        </ng-template>
        <div class="grid">
            <div class="col-12">
                <div class="p-inputgroup py-2">
                    <span class="p-inputgroup-addon"><img src="../../../../assets/icons/link-outline.svg" width="24px"></span>
                    <input type="text" class="py-2" pInputText placeholder="Nueva URL">
                    <button type="button" pButton pRipple class="px-4 py-2">Guardar</button>
                </div>
            </div>
        </div>
    </p-panel> -->
    <br>
    <br>





</p-card>