h3,
h5,
input,
label,
p-dropdown,
select,
option,
span,
button,
tr {
    font-family: 'Ubuntu', sans-serif !important;
}

tr {
    font-size: 18px !important;
}

.custom-font {
    font-family: 'Ubuntu', sans-serif !important;
}

.container-custom {
    height: 15rem;
}

@media (max-width: 1400px) {
    .container-custom {
        height: 2rem;
    }
}