<p-card class="min-h-full">
    <!-- <p-messages [value]="msgs"></p-messages> -->
    <p-toast></p-toast>
    <div class="grid pe-3 ps-3">
        <div class="col-8">
            <h3 class="mb-0 p-mt-0">Usuarios</h3>
        </div>
        <div class="col-4 p-inputgroup p-1">
            <button class="ps-2 pe-2" type="button" (click)="filter(filterValue)" pButton pRipple label="Buscar"></button>
            <input class="ps-2" [(ngModel)]="filterValue" type="text" pInputText placeholder="email">
        </div>
    </div>
    <hr class="my-0">
    <div class="p-mb-1 mt-0 flex">

    </div>

    <p-table class="p-table-sm" [value]="usrs" [loading]="loading" [rows]="usrs.length" scrollHeight="75vh" [scrollable]="true" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr>
                <th class="p-0 text-sm">Email</th>
                <!-- <th class="p-0">ID</th> -->
                <th class="p-0 text-sm">Rol</th>
                <th class="p-0 text-sm">Expira</th>
                <th class="p-0 text-sm">Estado</th>
                <th class="p-0 text-sm">Prueba?</th>
                <th class="p-0 text-sm">Min. Disponibles</th>
                <th class="p-0 text-sm">Acciones</th>



            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr style="font-size: 14px;">
                <td class="p-0 text-sm">{{user.email}}</td>
                <!-- <td class="p-0">{{user.uid}}</td> -->
                <td class="p-0 text-center  text-sm">{{detTypeUsr(user.role)}}</td>
                <td class="p-0 text-sm">{{user.expire}}</td>
                <td class="p-0 text-sm">{{ifBlocked(user.active)}}</td>
                <td class="p-0 text-sm">{{ifTest(user.type)}}</td>
                <td class="p-0 text-sm">{{timeToMinutes(user.type, user.time)}}</td>


                <td class="p-0">
                    <div class="pt-1 flex flex-wrap">
                        <div class="p-buttonset">
                            <button pButton class="p-button-sm p-1 p-button-raised p-button-primary" (click)="confirmRenew(user.expire, user.type, user.email)" icon="pi pi-refresh"></button>
                            <button pButton class="p-button-sm p-1 p-button-raised p-button-danger" (click)="blockUser(user.uid)" icon="pi pi-trash"></button>
                        </div>
                    </div>
                </td>

            </tr>
        </ng-template>


    </p-table>

    <p-confirmDialog [style]="{width: '55vw'}" [baseZIndex]="10000" [transitionOptions]="'100ms'"></p-confirmDialog>

    <p-dialog [style]="{width: '55vw'}" header="Renovar Suscripcion" [(visible)]="renewUserVisible">
        <hr class="p-0 m-0 mb-2">
        <div class="min-w-full  px-3 m-0">
            <div class="grid custom-font">
                <div class="col-12 mb-0 mt-2 p-0">
                    <p class="m-0 p-0">Usuario: <strong>{{email}}</strong></p>
                </div>
                <div class="col-12 mb-0 mt-1 p-0">
                    <p class="m-0 p-0">Fecha de expiracion: <strong>{{expireDate}}</strong></p>
                </div>
                <div class="col-12 mb-0 mt-1 p-0">
                    <p class="m-0 p-0">Demo activa: <strong>{{type}}</strong></p>
                </div>
                <div class="col-12 mb-0 mt-1 p-0">
                    <p class="m-0 p-0">Nueva fecha de expiracion: <strong>{{newDate}}</strong></p>
                </div>
            </div>

        </div>


        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" label="Aceptar" class="p-button-text custom-font"></p-button>
            <p-button icon="pi pi-times" label="Cancelar" class="custom-font"></p-button>
        </ng-template>
    </p-dialog>

</p-card>