<p-card class="max-h-95 pb-1">
    <div class="grid pe-2 ps-2">
        <div class="col-8">
            <h3 class="mb-0 p-mt-0">Canales</h3>
        </div>

        <div class="col-4 p-inputgroup p-1">
            <button class="ps-2 pe-2" type="button" (click)="filter(filterValue)" pButton pRipple label="Buscar"></button>
            <input class="ps-2" [(ngModel)]="filterValue" type="text" pInputText placeholder="Canal">
        </div>
    </div>

    <hr class="my-0">
    <p-messages [value]="msgs"></p-messages>
    <!-- <div class="p-mb-1 mt-0 flex">
            <p-button class="flex-none" type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
            <p-button class="flex-grow-1 text-center" type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
            <p-button class="flex-none" type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
        </div> -->

    <p-table class="p-table pb-5" [lazy]="true" [loading]="loading" [value]="scChannels" [scrollable]="true" scrollHeight="81vh" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr class="pb-1">
                <th class="p-0 text-sm">Nombre</th>
                <th class="p-0 text-sm">Categoria</th>
                <th class="p-0 text-sm">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-chan>
            <tr class="mb-1">
                <td class="p-0 text-sm">{{chan.name}}</td>
                <td class="p-0 text-sm">{{chan.category}}</td>
                <td class="p-0 text-sm">
                    <div class="py-0 flex flex-wrap">
                        <div class="p-buttonset">
                            <button pButton (click)="modifyChannel(chan.drmLicense, chan.drmScheme, chan.channelIndx, chan.sampleIndx, chan, chan.category, chan.name)" class="p-button-sm p-1 p-button-raised p-button-primary" icon="pi pi-refresh"></button>
                            <button pButton (click)="confirmDelete(chan.channelIndx, chan.sampleIndx, chan.name)" class="p-button-sm p-1 p-button-raised p-button-danger" icon="pi pi-trash"></button>
                        </div>
                    </div>
                </td>
            </tr>

        </ng-template>
    </p-table>
    <p-dialog position="right" [closable]="false" [visible]="isVisibleForm" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '78vw'}" tra>
        <ng-template pTemplate="header">
            <h5>Modificar canal</h5>
        </ng-template>
        <app-modifychannel (send)="checkClosed($event.toString())" [sample]="oldSample" [category]="categoryToModify" [path]="pathToModify" [drmLicense]="drmLicenseToModify" [drmScheme]="drmToModify"></app-modifychannel>
        <!-- <ng-template pTemplate="footer">
            <button type="button" pButton pRipple icon="pi pi-times" class="p-button-sm p-button-outlined p-button-danger" (click)="visibleForm('')" label="Cancelar"></button>
            <button type="button" pButton pRipple icon="pi pi-check" class="p-button-sm p-button-success" label="Ok"></button>

        </ng-template> -->

    </p-dialog>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="12000"></p-confirmDialog>

</p-card>