/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html {
    padding: 0%;
    overflow: hidden !important;
}

body {
    background: rgb(156, 39, 176);
    background: linear-gradient(180deg, rgba(156, 39, 176, 1) 0%, rgba(62, 16, 70, 1) 100%) !important;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px !important;
}